{% extends "base_generic.html" %}

{% block content %}
    <h1>Author: {{ author.first_name}}, {{ author.last_name }}</h1>
    <p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p>
    {% if author.date_of_death != None %}
        <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>
    {% endif %}
    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>
        {% for book in author.book_set.all %}
            <hr />
            <a href="{{ book.get_absolute_url }}">
                <p><strong>{{ book.title }}</strong></p>
            </a>
            <p class="text-muted">{{ book.summary }}</p>
        {% endfor %}
    </div>
{% endblock %}
